form action="/channels" method="POST"
  label = t.views.channels.new
  input type="text" name="channel[name]" id="channel_name" value="#{params[:channel].nil? ? '' : params[:channel][:name]}"
  input type="submit" value="#{t.views.channels.create}"
